body{
    background-color: aquamarine;
    
    
}
.d1{
    color:burlywood;
    
}
#d1{
    text-align: center;
    color: rgb(25, 14, 102);
}
#text1{
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 1%;
    margin-top:  20px;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.site-header{
    background-image: url("tshe.png");
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    height: 500px;
    color :white;
    flex-direction: column;
    justify-content: center;

}
#title-header{
    text-align: center;
    padding: 20%;
}
